<h1>My name is <%= @name %></h1>


<img src="http://bit.ly/1eze8aE" style="border: medium dashed red;">

<% if @name.nil? %>
<form action ='/named-cat'>
<input type="text" name="name">
<input type="submit" value="Submit">
</form>
<% end %>